@font-face {
	font-family: 'Eras Light ITC';
	font-style: normal;
	font-weight: normal;
	src: local('Eras Light ITC'), url('../fonts/ERASLGHT.woff') format('woff');
}

body{
	font-family: "Eras Light ITC",  sans-serif;
}

.nav{
	background-color: #444;
	color: #FFF;
}

.name{
	font-size: 50;
}

.status{
	font-size: 25;
}

.inline{
	position: relative;
	font-family: 'Cinzel', serif;
	padding: 0;
}

.inline li{
	display: inline-table;
	background-color: #666;
	padding: 10;
	border-radius: 2px;
}